# Mac
*.DS_Store
.idea/*

# Build
build/*
build-9/*
build-10/*
build-11/*
build-linux/*
build-linux-notime/*
cmake-build-debug/*
cmake-build-release/*
cmake-build-relwithdebinfo/*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
